name: Build Volla Launcher

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: a12e/docker-qt:5.13-android_arm64_v8a

    outputs:
      apk_path: ${{ steps.save_apk.outputs.apk_path }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
          fetch-tags: true

      - name: Build Apk
        env:
          ANDROID_KEYSTORE_FILE_CONTENTS: ${{ secrets.ANDROID_KEYSTORE_FILE_CONTENTS }}
          ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
        run: |
          export CACHE_DIR=build/cache
          export M2_HOME=$(realpath -m $CACHE_DIR/.m2)
          export MAVEN_HOME=$(realpath -m $CACHE_DIR/.m2)
          export GRADLE_USER_
