name: Build Volla Launcher

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      apk_path: ${{ steps.save_apk.outputs.apk_path }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Install Qt & Android tools
        run: |
          sudo apt-get update
          sudo apt-get install -y qt5-default qtbase5-dev android-sdk unzip wget

      - name: Build Apk
        env:
          ANDROID_KEYSTORE_FILE_CONTENTS: ${{ secrets.ANDROID_KEYSTORE_FILE_CONTENTS }}
          ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
        run: |
          export CACHE_DIR=build/cache
          export M2_HOME=`realpath -m $CACHE_DIR/.m2`
          export MAVEN_HOME=`realpath -m $CACHE_DIR/.m2`
          export GRADLE_USER_HOME=`realpath -m $CACHE_DIR/.gradle`
          export VERSION=`git describe --tags || git rev-parse --short HEAD`
          export TIMESTAMP=`date +%Y%m%d%H%M`
          export BUILD_ID="$VERSION-$TIMESTAMP"
          mkdir -p $MAVEN_HOME $GRADLE_USER_HOME releases
          ./build_package_android ./releases
          sudo chmod -R 755 ./releases

      - name: Save APK path
        id: save_apk
        run: echo "apk_path=./releases/*.apk" >> $GITHUB_OUTPUT

  release:
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          body: ${{ steps.github_release.outputs.changelog }}
          files: ${{ needs.build.outputs.apk_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
