name: Build Volla Launcher

on:
  push:
    branches:
    - master
    tags:
    - '*'
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: a12e/docker-qt:5.13-android_arm64_v8a

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true

      - name: Build Apk
        env:
          ANDROID_KEYSTORE_FILE_CONTENTS: ${{ secrets.ANDROID_KEYSTORE_FILE_CONTENTS }}
          ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
        run: |
          export CACHE_DIR=build/cache
          export M2_HOME=`realpath -m $CACHE_DIR/.m2`
          export MAVEN_HOME=`realpath -m $CACHE_DIR/.m2`
          export GRADLE_USER_HOME=`realpath -m $CACHE_DIR/.gradle`
          export VERSION=`git describe --tags || git rev-parse --short HEAD`
          export TIMESTAMP=`date +%Y%m%d%H%M`
          export BUILD_ID="$VERSION-$TIMESTAMP"
          sudo chown -R `id -u` ${GITHUB_WORKSPACE}
          mkdir -p $MAVEN_HOME
          mkdir -p $GRADLE_USER_HOME
          mkdir -p releases
          ./build_package_android ./releases
          sudo chmod -R 755 ./releases

      - name: Save APK path
        id: save_apk
        run: |
          APK_FILE=$(ls ./releases/*.apk | head -n 1)
          if [ -z "$APK_FILE" ]; then
            echo "No APK found!"
            exit 1
          fi
          echo "apk_path=$APK_FILE" >> $GITHUB_OUTPUT

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: volla-apk
          path: ./releases/*.apk

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          body: ${{steps.github_release.outputs.changelog}}
