name: Build Volla Launcher

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: a12e/docker-qt:5.13-android_arm64_v8a

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
          fetch-tags: true

      - name: Build Apk
        env:
          ANDROID_KEYSTORE_FILE_CONTENTS: ${{ secrets.ANDROID_KEYSTORE_FILE_CONTENTS }}
          ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
        run: |
          export CACHE_DIR=build/cache
          export M2_HOME=$(realpath -m $CACHE_DIR/.m2)
          export MAVEN_HOME=$(realpath -m $CACHE_DIR/.m2)
          export GRADLE_USER_HOME=$(realpath -m $CACHE_DIR/.gradle)
          export VERSION=$(git describe --tags || git rev-parse --short HEAD)
          export TIMESTAMP=$(date +%Y%m%d%H%M)
          export BUILD_ID="$VERSION-$TIMESTAMP"
          sudo chown -R $(id -u) ${GITHUB_WORKSPACE}
          mkdir -p $MAVEN_HOME $GRADLE_USER_HOME releases
          ./build_package_android ./releases
          sudo chmod -R 755 ./releases

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: volla-apk
          path: ./releases/*.apk

  release:
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download APK artifact
        uses: actions/download-artifact@v3
        with:
          name: volla-apk
          path: ./releases

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          body: ${{ steps.github_release.outputs.changelog }}
          files: ./releases/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
